:root {
    --mainColor: #06AED5;
    --accentColor: #086788;
    --fallbackColor: #fff;
}

* {
    box-sizing: border-box;
    @nest &:before, &:after { 
        box-sizing: border-box;
    }
}

body {
  background: var(--mainColor);
  margin: 0;
}

/* components */

.btn--large {
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 2px;
  text-align: center;
}

.btn--accent {
  background-color: var(--accentColor);
  color: #fff;
}

.btn--fallback {
  background-color: var(--fallbackColor);
  color: var(--accentColor);
}

/* wagon-splash component */
wagon-splash {
  display: block;
  text-align: center;
  margin: 16px auto;
}

/* home section */

.home__options {
  width: 90%;
  margin: 0 auto;
  @nest & a:first-of-type {
    margin-bottom: 8px;
  }
}

