/*
@define-placeholder font-roboto {
  font-family: 'Roboto', sans-serif;
}

.btn--small {
  display: block;
  padding: 8px;
  width: auto;
  border-radius: 2px;
  text-align: center;
  @extend font-roboto;
}

.btn--accent {
  background-color: var(--accentColor);
  color: #fff;
}

.btn--fallback {
  background-color: var(--fallbackColor);
  color: var(--accentColor);
}

/* wagon-splash component */


.btnSmall {
  display: block;
  width: auto;
  padding: 8px 32px;
  border-radius: 2px;
  text-align: center;
}

.btnLarge {
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 2px;
  text-align: center;
}

.btnFab {
  display: block;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
}

wagon-splash {
  display: block;
  text-align: center;
  margin: 16px auto;
}
